[2018-12-11 12:38] musigma-admin commented on #1
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:54

added ~265 label

[2018-12-11 12:39] musigma-admin commented on #1
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:59

changed the description

[2018-12-11 12:39] musigma-admin commented on #1
In GitLab by @Naren.Srinivasan on Nov 6, 2018, 18:42

closed

[2018-12-11 12:39] musigma-admin commented on #2
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:54

added ~264 label

[2018-12-11 12:39] musigma-admin commented on #2
In GitLab by @Vedavyas.C on Sep 3, 2018, 16:06

closed

[2018-12-11 12:39] musigma-admin commented on #2
In GitLab by @Vedavyas.C on Sep 3, 2018, 16:06

Add the comments for documentation.

[2018-12-11 12:39] musigma-admin commented on #2
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:28

reopened

[2018-12-11 12:39] musigma-admin commented on #2
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:29

Please add more verbose details for each function. Can be explained in more detail.

[2018-12-11 12:39] musigma-admin commented on #2
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:11

closed

[2018-12-11 12:39] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:45

changed title from **Design for a meta-{-recip-}es construct** to **Design for a meta-{+pipelin+}es construct**

[2018-12-11 12:39] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:45

changed the description

[2018-12-11 12:39] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed title from **Design for a meta-pipelines construct** to **Design {+and implement +}for a meta-pipelines construct**

[2018-12-11 12:39] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed the description

[2018-12-11 12:39] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed title from **Design and implement for a meta-pipelines construct** to **Design and implement{+ation+} for a meta-pipelines construct**

[2018-12-11 12:39] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 20:22

mentioned in commit 8f300761c4abfc68053837b184f8de58383b3c94

[2018-12-11 12:39] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 21, 2018, 16:28

mentioned in commit 114af49649b0fc064127d6cc0fc97b0e0db0cf0b

[2018-12-11 12:39] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 22, 2018, 12:56

mentioned in commit 8f5640ecbd5f6317f9fb72ba9e56dce15451baab

[2018-12-11 12:41] musigma-admin commented on #4
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:54

added ~265 label

[2018-12-11 12:41] musigma-admin commented on #4
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:59

changed the description

[2018-12-11 12:41] musigma-admin commented on #4
In GitLab by @Naren.Srinivasan on Nov 6, 2018, 18:42

closed

[2018-12-11 12:41] musigma-admin commented on #5
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:54

added ~264 label

[2018-12-11 12:41] musigma-admin commented on #5
In GitLab by @Vedavyas.C on Sep 3, 2018, 16:06

closed

[2018-12-11 12:41] musigma-admin commented on #5
In GitLab by @Vedavyas.C on Sep 3, 2018, 16:06

Add the comments for documentation.

[2018-12-11 12:41] musigma-admin commented on #5
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:28

reopened

[2018-12-11 12:41] musigma-admin commented on #5
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:29

Please add more verbose details for each function. Can be explained in more detail.

[2018-12-11 12:41] musigma-admin commented on #5
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:11

closed

[2018-12-11 12:41] musigma-admin commented on #6
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:45

changed title from **Design for a meta-{-recip-}es construct** to **Design for a meta-{+pipelin+}es construct**

[2018-12-11 12:41] musigma-admin commented on #6
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:45

changed the description

[2018-12-11 12:41] musigma-admin commented on #6
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed title from **Design for a meta-pipelines construct** to **Design {+and implement +}for a meta-pipelines construct**

[2018-12-11 12:41] musigma-admin commented on #6
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed the description

[2018-12-11 12:41] musigma-admin commented on #6
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed title from **Design and implement for a meta-pipelines construct** to **Design and implement{+ation+} for a meta-pipelines construct**

[2018-12-11 12:41] musigma-admin commented on #6
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 20:22

mentioned in commit 8f300761c4abfc68053837b184f8de58383b3c94

[2018-12-11 12:41] musigma-admin commented on #6
In GitLab by @Naren.Srinivasan on Nov 21, 2018, 16:28

mentioned in commit 114af49649b0fc064127d6cc0fc97b0e0db0cf0b

[2018-12-11 12:41] musigma-admin commented on #6
In GitLab by @Naren.Srinivasan on Nov 22, 2018, 12:56

mentioned in commit 8f5640ecbd5f6317f9fb72ba9e56dce15451baab

[2018-12-11 12:41] musigma-admin commented on #6
In GitLab by @Naren.Srinivasan on Nov 22, 2018, 12:56

closed

[2018-12-11 12:41] musigma-admin commented on #7
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:58

changed the description

[2018-12-11 12:41] musigma-admin commented on #7
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:53

removed milestone

[2018-12-11 12:41] musigma-admin commented on #8
In GitLab by @Naren.Srinivasan on Sep 3, 2018, 15:28

assigned to @Anoop.S

[2018-12-11 12:41] musigma-admin commented on #8
In GitLab by @Naren.Srinivasan on Sep 20, 2018, 14:55

removed milestone

[2018-12-11 12:41] musigma-admin commented on #8
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:44

closed

[2018-12-11 12:41] musigma-admin commented on #9
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:34

assigned to @Naren.Srinivasan

[2018-12-11 12:41] musigma-admin commented on #9
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:34

assigned to @Vedavyas.C and unassigned @Naren.Srinivasan

[2018-12-11 12:41] musigma-admin commented on #9
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:35

@Vedavyas.C - Can you take a look at this issue, and see what functions can be added. Define a scope across a few bricks and add the functions.

Want some basic functionality across bricks added. Scope it to what can be done in 2 weeks.

[2018-12-11 12:41] musigma-admin commented on #9
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:53

At this point, for the initial release, classification functions will be added.

[2018-12-11 12:42] musigma-admin commented on #9
In GitLab by @Naren.Srinivasan on Nov 9, 2018, 18:07

changed title from **Port {-more functions from eda, segmentation, etc.-}** to **Port {+functions from classification, and include an example in vignette+}**

[2018-12-11 12:42] musigma-admin commented on #9
In GitLab by @Naren.Srinivasan on Dec 3, 2018, 13:51

removed milestone

[2018-12-12 08:38] musigma-admin commented on #13
changed title from **Design for a meta-{-recip-}es construct** to **Design for a meta-{+pipelin+}es construct**

[2018-12-12 08:38] musigma-admin commented on #13
changed the description

[2018-12-12 08:38] musigma-admin commented on #13
changed title from **Design for a meta-pipelines construct** to **Design {+and implement +}for a meta-pipelines construct**

[2018-12-12 08:38] musigma-admin commented on #13
changed the description

[2018-12-12 08:38] musigma-admin commented on #13
changed title from **Design and implement for a meta-pipelines construct** to **Design and implement{+ation+} for a meta-pipelines construct**

[2018-12-12 08:38] musigma-admin commented on #13
mentioned in commit 8f300761c4abfc68053837b184f8de58383b3c94

[2018-12-12 08:38] musigma-admin commented on #13
mentioned in commit 114af49649b0fc064127d6cc0fc97b0e0db0cf0b

[2018-12-12 08:38] musigma-admin commented on #13
mentioned in commit 8f5640ecbd5f6317f9fb72ba9e56dce15451baab

[2018-12-12 08:38] musigma-admin commented on #13
closed

[2018-12-12 08:56] musigma-admin commented on #23
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:54

added ~265 label

[2018-12-12 08:56] musigma-admin commented on #23
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:59

changed the description

[2018-12-12 08:56] musigma-admin commented on #23
In GitLab by @Naren.Srinivasan on Nov 6, 2018, 18:42

closed

[2018-12-12 08:56] musigma-admin commented on #24
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:54

added ~264 label

[2018-12-12 08:56] musigma-admin commented on #24
In GitLab by @Vedavyas.C on Sep 3, 2018, 16:06

closed

[2018-12-12 08:56] musigma-admin commented on #24
In GitLab by @Vedavyas.C on Sep 3, 2018, 16:06

Add the comments for documentation.

[2018-12-12 08:56] musigma-admin commented on #24
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:28

reopened

[2018-12-12 08:56] musigma-admin commented on #24
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:29

Please add more verbose details for each function. Can be explained in more detail.

[2018-12-12 08:56] musigma-admin commented on #24
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:11

closed

[2018-12-12 08:56] musigma-admin commented on #25
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:45

changed title from **Design for a meta-{-recip-}es construct** to **Design for a meta-{+pipelin+}es construct**

[2018-12-12 08:56] musigma-admin commented on #25
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:45

changed the description

[2018-12-12 08:56] musigma-admin commented on #25
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed title from **Design for a meta-pipelines construct** to **Design {+and implement +}for a meta-pipelines construct**

[2018-12-12 08:56] musigma-admin commented on #25
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed the description

[2018-12-12 08:56] musigma-admin commented on #25
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed title from **Design and implement for a meta-pipelines construct** to **Design and implement{+ation+} for a meta-pipelines construct**

[2018-12-12 08:56] musigma-admin commented on #25
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 20:22

mentioned in commit 8f300761c4abfc68053837b184f8de58383b3c94

[2018-12-12 08:56] musigma-admin commented on #25
In GitLab by @Naren.Srinivasan on Nov 21, 2018, 16:28

mentioned in commit 114af49649b0fc064127d6cc0fc97b0e0db0cf0b

[2018-12-12 08:56] musigma-admin commented on #25
In GitLab by @Naren.Srinivasan on Nov 22, 2018, 12:56

mentioned in commit 8f5640ecbd5f6317f9fb72ba9e56dce15451baab

[2018-12-12 08:56] musigma-admin commented on #25
In GitLab by @Naren.Srinivasan on Nov 22, 2018, 12:56

closed

[2018-12-12 08:57] musigma-admin commented on #26
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:58

changed the description

[2018-12-12 08:57] musigma-admin commented on #26
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:53

removed milestone

[2018-12-12 08:57] musigma-admin commented on #27
In GitLab by @Naren.Srinivasan on Sep 3, 2018, 15:28

assigned to @Anoop.S

[2018-12-12 08:57] musigma-admin commented on #27
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:44

closed

[2018-12-12 08:57] musigma-admin commented on #28
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:34

assigned to @Naren.Srinivasan

[2018-12-12 08:57] musigma-admin commented on #28
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:34

assigned to @Vedavyas.C and unassigned @Naren.Srinivasan

[2018-12-12 08:57] musigma-admin commented on #28
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:35

@Vedavyas.C - Can you take a look at this issue, and see what functions can be added. Define a scope across a few bricks and add the functions.

Want some basic functionality across bricks added. Scope it to what can be done in 2 weeks.

[2018-12-12 08:57] musigma-admin commented on #28
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:53

At this point, for the initial release, classification functions will be added.

[2018-12-12 08:57] musigma-admin commented on #28
In GitLab by @Naren.Srinivasan on Nov 9, 2018, 18:07

changed title from **Port {-more functions from eda, segmentation, etc.-}** to **Port {+functions from classification, and include an example in vignette+}**

[2018-12-12 08:57] musigma-admin commented on #28
In GitLab by @Naren.Srinivasan on Dec 3, 2018, 13:51

removed milestone

[2018-12-12 12:51] musigma-admin commented on #35
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:45

changed title from **Design for a meta-{-recip-}es construct** to **Design for a meta-{+pipelin+}es construct**

[2018-12-12 12:51] musigma-admin commented on #35
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:45

changed the description

[2018-12-12 12:51] musigma-admin commented on #35
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed title from **Design for a meta-pipelines construct** to **Design {+and implement +}for a meta-pipelines construct**

[2018-12-12 12:51] musigma-admin commented on #35
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed the description

[2018-12-12 12:51] musigma-admin commented on #35
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed title from **Design and implement for a meta-pipelines construct** to **Design and implement{+ation+} for a meta-pipelines construct**

[2018-12-12 12:51] musigma-admin commented on #35
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 20:22

mentioned in commit 8f300761c4abfc68053837b184f8de58383b3c94

[2018-12-12 12:51] musigma-admin commented on #35
In GitLab by @Naren.Srinivasan on Nov 21, 2018, 16:28

mentioned in commit 114af49649b0fc064127d6cc0fc97b0e0db0cf0b

[2018-12-12 12:51] musigma-admin commented on #35
In GitLab by @Naren.Srinivasan on Nov 22, 2018, 12:56

mentioned in commit 8f5640ecbd5f6317f9fb72ba9e56dce15451baab

[2018-12-12 12:51] musigma-admin commented on #35
In GitLab by @Naren.Srinivasan on Nov 22, 2018, 12:56

closed

[2018-12-13 12:32] musigma-admin opened #41 "Export a recipe/ pipeline to a BPMN flow"
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 15:02

Should be able to import the flow in BPMN orchestration tools, and deploy through them.

[2018-12-13 12:32] musigma-admin commented on #41
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:54

removed milestone

[2018-12-13 12:36] musigma-admin opened #42 "Export a recipe/ pipeline to a BPMN flow"
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 15:02

Should be able to import the flow in BPMN orchestration tools, and deploy through them.

[2018-12-13 12:38] musigma-admin opened #43 "Export a recipe/ pipeline to a BPMN flow"
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 15:02

Should be able to import the flow in BPMN orchestration tools, and deploy through them.

[2018-12-13 12:38] musigma-admin commented on #43
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:54

removed milestone

[2018-12-13 12:41] musigma-admin opened #44 "Export a recipe/ pipeline to a BPMN flow"
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 15:02

Should be able to import the flow in BPMN orchestration tools, and deploy through them.

[2018-12-13 12:41] musigma-admin commented on #44
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:54

removed milestone

[2018-12-13 12:44] musigma-admin opened #45 "Export a recipe/ pipeline to a BPMN flow"
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 15:02

Should be able to import the flow in BPMN orchestration tools, and deploy through them.

[2018-12-13 12:44] musigma-admin commented on #45
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:54

removed milestone

[2018-12-13 12:48] musigma-admin opened #46 "Export a recipe/ pipeline to a BPMN flow"
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 15:02

Should be able to import the flow in BPMN orchestration tools, and deploy through them.

[2018-12-13 12:48] musigma-admin commented on #46
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:54

removed milestone

[2018-12-13 12:51] musigma-admin opened #47 "Export a recipe/ pipeline to a BPMN flow"
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 15:02

Should be able to import the flow in BPMN orchestration tools, and deploy through them.

[2018-12-13 12:51] musigma-admin commented on #47
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:54

removed milestone

[2018-12-13 12:53] musigma-admin opened #48 "Export a recipe/ pipeline to a BPMN flow"
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 15:02

Should be able to import the flow in BPMN orchestration tools, and deploy through them.

[2018-12-13 12:53] musigma-admin commented on #48
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:54

removed milestone

[2018-12-13 12:54] musigma-admin commented on #49
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:32

assigned to @Anoop.S

[2018-12-13 12:54] musigma-admin commented on #49
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:32

assigned to @Abhilash.J2 and unassigned @Anoop.S

[2018-12-13 12:54] musigma-admin commented on #49
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:32

unassigned @Abhilash.J2

[2018-12-13 12:54] musigma-admin commented on #49
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:37

@Vedavyas.C , @Abhilash.J2 , @Anoop.S - Would like your thoughts on this. Want a name which represents the objectives of the package but is different from "recipes" as there is a package of the same name by hadley.

[2018-12-13 12:55] musigma-admin commented on #50
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:54

removed milestone

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:32

assigned to @Anoop.S

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:32

assigned to @Abhilash.J2 and unassigned @Anoop.S

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:32

unassigned @Abhilash.J2

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:37

@Vedavyas.C , @Abhilash.J2 , @Anoop.S - Would like your thoughts on this. Want a name which represents the objectives of the package but is different from "recipes" as there is a package of the same name by hadley.

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Neeratyoy.Mallik on Aug 31, 2018, 14:25

"edaTree": EDA is included since it is about EDA. Tree, from a data structure POV, since it gives the notion of a flow of sorts

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 14:51

@Neeratyoy.Mallik - I want the package to be more than eda. Looking to add other brick functions as well. We also have support for spark jobs/ structured streaming now.

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 14:55

The main objectives of the package are:

- Create recipes/ flows/ pipelines which are reusable and can be put into production. Allow for repeated calling of these pipelines, in a batch context, or continuous processing in a streaming context

Couple of other names I thought of:

* "composer" - As analysts compose these analyses. The last "r" a

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Abhilash.J2 on Aug 31, 2018, 16:08

pipelineR seems good. Consistent with python sklearn's pipeline module.

Some other convoluted ones could be with the 'rx' -- flowRx , dataRx ? muRx !(:))

or rxCreator

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Sep 3, 2018, 12:18

Haha, don't want the name linked with rX.

So I'm thinking pipeliner or pipelineR with the classes called 'AnalysisPipeline' and 'SparkAnalysisPipeline'

Am thinking if we can use pipeline-related verbs for the methods - Like 'plumb', or so on.

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Sep 3, 2018, 12:19

Just discovered that there is already a package of that name, which is extremely similar to the 'recipes' package.

Thinking 'analysisPipelines' instead.

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Sep 3, 2018, 15:26

changed the description

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Sep 3, 2018, 15:35

assigned to @Naren.Srinivasan

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:30

@Anoop.S @Abhilash.J2 @Vedavyas.C  - Any other thoughts?

Thinking of finalizing 'analysisPipelines'

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Sep 6, 2018, 13:02

@Anoop.S @Abhilash.J2 @Vedavyas.C -  Finalizing

as the working name for now.

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Sep 6, 2018, 14:13

This has been changed in function names, documentation, vignettes, RStudio project name. etc.

Also, the git project has been renamed.

Will need to perform a new checkout by:

`git clone git@mugitlab.mu-sigma.com:eoc_foundation_wip/analysis-pipelines.git`

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Sep 6, 2018, 14:13

closed

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:07

reopened

[2018-12-13 12:57] musigma-admin commented on #51
In GitLab by @Zubin.Dowlaty on Sep 12, 2018, 00:59

how about "chain link" or "chain linker"

[2018-12-13 12:57] musigma-admin commented on #52
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:54

removed milestone

[2018-12-13 12:58] musigma-admin commented on #53
In GitLab by @Naren.Srinivasan on Nov 9, 2018, 18:08

changed title from **{-Add examples for all functions-}** to **{+Final documentation review before CRAN release+}**

[2018-12-13 12:58] musigma-admin commented on #53
In GitLab by @Naren.Srinivasan on Nov 26, 2018, 20:34

mentioned in commit 42bdf8449b8c8df100bbe9724ed0b485ec5af1e2

[2018-12-13 12:58] musigma-admin commented on #53
In GitLab by @Naren.Srinivasan on Nov 27, 2018, 20:24

mentioned in commit 8b3812e133cead55cf02213dbfa45bc05a63b45c

[2018-12-13 12:58] musigma-admin opened #54 "Problems with loading "analysisRecipes" package before the sparkR read stream"
In GitLab by @Anoop.S on Sep 3, 2018, 18:02

On running spark-submit command in a scenario where the library is loaded before the read.stream() function, the following error is thrown:

[code]

Note that this problem exists only in spark-submit and not when run from RStudio

[2018-12-13 12:58] musigma-admin commented on #54
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:23

added ~59 label

[2018-12-13 12:58] musigma-admin commented on #54
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:13

closed

[2018-12-13 12:58] musigma-admin commented on #55
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 15:24

This requires an architectural change. The current AnalysisPipeline class contains a slot for input, and another for working input. The following architectural change should also be designed to support implementation of Issue #18 [to add python functions].

The following issue is scoped to allowing for interoperable pipelines between R, Spark a

[2018-12-13 12:58] musigma-admin commented on #55
In GitLab by @Naren.Srinivasan on Sep 10, 2018, 12:51

Design 1:

Define another S4 class for an AnalysisPipelineDataset, which contains slot for all compatible implementations for data frames in different engines - R, Spark, Python. However, this is problematic as would create as many copies of the dataset as engines, leading to memory issues.

Design 2:

Preface every function call in the recipe

[2018-12-13 12:58] musigma-admin commented on #55
In GitLab by @Naren.Srinivasan on Sep 10, 2018, 13:38

Add the following functions:

* assessEngineSetUp - Before executing the recipe, check engine configurations and throw exceptions as required
* defineEngineConfig - Function to which engine configurations, be it Spark/Python can be passed

[2018-12-13 12:58] musigma-admin commented on #55
In GitLab by @Naren.Srinivasan on Sep 10, 2018, 17:59

mentioned in commit a1d8e7ea59a395bbd82818e3c9ce7be90ddaa77e

[2018-12-13 12:58] musigma-admin commented on #55
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 14:02

mentioned in commit bf9b129040727075c55a934b2b3387cb55a760be

[2018-12-13 12:58] musigma-admin commented on #55
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 14:02

mentioned in commit 89bbfa06843fb0fc33586cdda99aa61788a93814

[2018-12-13 12:59] musigma-admin commented on #55
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 14:10

mentioned in commit 961226dcf3907ff0634a446410cf0e07284116e3

[2018-12-13 12:59] musigma-admin commented on #55
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 14:54

mentioned in commit fbe851620fda9b63ebea4b7ec652fef6c6ff0baa

[2018-12-13 12:59] musigma-admin commented on #55
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 14:54

closed

[2018-12-13 13:00] musigma-admin commented on #56
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 15:29

This is related to Issue #17. Architectural changes performed there will enable this issue to be implemented.

[2018-12-13 13:00] musigma-admin commented on #56
In GitLab by @Naren.Srinivasan on Nov 27, 2018, 20:24

mentioned in commit f01693b8d03046d8a7d83bf49c4f14ceb7ff89b0

[2018-12-13 13:00] musigma-admin commented on #56
In GitLab by @Naren.Srinivasan on Nov 28, 2018, 15:10

mentioned in commit af0a7945d51f303a959dba193b5090867a980ce4

[2018-12-13 13:00] musigma-admin commented on #56
In GitLab by @Naren.Srinivasan on Nov 29, 2018, 17:11

mentioned in commit 2e31cdc05b994bc145a86e2b03c7bc7970640454

[2018-12-13 13:00] musigma-admin commented on #56
In GitLab by @Naren.Srinivasan on Nov 29, 2018, 17:11

closed

[2018-12-13 13:00] musigma-admin commented on #57
In GitLab by @Naren.Srinivasan on Sep 14, 2018, 17:50

mentioned in commit 75192c55c5f8ff264068cdc67b0aacf73ed16389

[2018-12-13 13:00] musigma-admin commented on #57
In GitLab by @Naren.Srinivasan on Sep 17, 2018, 15:13

mentioned in commit 71521d8ecf3260cad38c39b8cb482e04c3d04434

[2018-12-13 13:00] musigma-admin commented on #57
In GitLab by @Naren.Srinivasan on Sep 17, 2018, 15:15

Function not being available in the environment should never be the case as load of functions is handled by the package. So removing this check as part of exception handling.

Could instead be any error thrown while registering.

[2018-12-13 13:00] musigma-admin commented on #57
In GitLab by @Naren.Srinivasan on Sep 20, 2018, 14:53

Deferring required packages not being available for a later date.

[2018-12-13 13:00] musigma-admin commented on #57
In GitLab by @Naren.Srinivasan on Nov 6, 2018, 18:39

closed

[2018-12-13 13:00] musigma-admin commented on #58
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:52

removed milestone

[2018-12-13 13:32] musigma-admin opened #1 "Review package design"
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:49

Review the design and implementation of the package and suggest structural changes (if required). These can be raised as issues.

[2018-12-13 13:32] musigma-admin commented on #1
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:54

added ~265 label

[2018-12-13 13:32] musigma-admin commented on #1
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:59

changed the description

[2018-12-13 13:32] musigma-admin commented on #1
In GitLab by @Naren.Srinivasan on Nov 6, 2018, 18:42

closed

[2018-12-13 13:32] musigma-admin opened #2 "Document all the eda utils functions"
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:50

In-line documentation for the eda utils functions. Refer the package core functions documentation to understand how the inline documentation can be done to ensure 'roxygen2' can auto document.

[2018-12-13 13:32] musigma-admin commented on #2
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:54

added ~264 label

[2018-12-13 13:32] musigma-admin commented on #2
In GitLab by @Vedavyas.C on Sep 3, 2018, 16:06

closed

[2018-12-13 13:32] musigma-admin commented on #2
In GitLab by @Vedavyas.C on Sep 3, 2018, 16:06

Add the comments for documentation.

[2018-12-13 13:32] musigma-admin commented on #2
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:28

reopened

[2018-12-13 13:32] musigma-admin commented on #2
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:29

Please add more verbose details for each function. Can be explained in more detail.

[2018-12-13 13:32] musigma-admin commented on #2
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:11

closed

[2018-12-13 13:35] musigma-admin opened #3 "Design and implementation for a meta-pipelines construct"
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:56

Implement meta-pipelines which are not data dependent. i.e. construct analytical flows as pipelines which are not dependent on the schema of the dataset. This should be allowed to be configured by the user.

[2018-12-13 13:35] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:45

changed title from **Design for a meta-{-recip-}es construct** to **Design for a meta-{+pipelin+}es construct**

[2018-12-13 13:35] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:45

changed the description

[2018-12-13 13:35] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed title from **Design for a meta-pipelines construct** to **Design {+and implement +}for a meta-pipelines construct**

[2018-12-13 13:35] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed the description

[2018-12-13 13:35] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:51

changed title from **Design and implement for a meta-pipelines construct** to **Design and implement{+ation+} for a meta-pipelines construct**

[2018-12-13 13:35] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 20:22

mentioned in commit 8f300761c4abfc68053837b184f8de58383b3c94

[2018-12-13 13:35] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 21, 2018, 16:28

mentioned in commit 114af49649b0fc064127d6cc0fc97b0e0db0cf0b

[2018-12-13 13:35] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 22, 2018, 12:56

mentioned in commit 8f5640ecbd5f6317f9fb72ba9e56dce15451baab

[2018-12-13 13:35] musigma-admin commented on #3
In GitLab by @Naren.Srinivasan on Nov 22, 2018, 12:56

closed

[2018-12-13 13:35] musigma-admin opened #4 "Integration with 'recipes' package"
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:58

User should be able to import a recipe created from the 'recipes' package as a user defined function/ operation

https://cran.r-project.org/package=recipes

[2018-12-13 13:35] musigma-admin commented on #4
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:58

changed the description

[2018-12-13 13:35] musigma-admin commented on #4
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:53

removed milestone

[2018-12-13 13:38] musigma-admin opened #5 "Base functionality to work with Spark and Spark data frames including structured streaming"
In GitLab by @Naren.Srinivasan on Aug 24, 2018, 14:36

[2018-12-13 13:38] musigma-admin commented on #5
In GitLab by @Naren.Srinivasan on Aug 24, 2018, 14:36

closed

[2018-12-13 13:38] musigma-admin opened #6 "Add functions to get different details from the object - recipes, registry, outputs etc."
In GitLab by @Naren.Srinivasan on Aug 30, 2018, 14:54

[2018-12-13 13:38] musigma-admin commented on #6
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:40

assigned to @Naren.Srinivasan

[2018-12-13 13:38] musigma-admin commented on #6
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 13:42

mentioned in commit 7e626106a5ca67fa1f0acfe461197f51664017f0

[2018-12-13 13:38] musigma-admin commented on #6
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 14:22

mentioned in commit 450ac2db5c94ed86570f5a249928d579e81f7100

[2018-12-13 13:38] musigma-admin commented on #6
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 14:22

closed

[2018-12-13 13:40] musigma-admin opened #7 "Explain function - Generate an image flow for the recipe"
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:51

Generate a visual flow for the recipe which can be generated from a particular recipe.

[2018-12-13 13:40] musigma-admin commented on #7
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:53

added ~60 label

[2018-12-13 13:40] musigma-admin commented on #7
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:11

This could also contain an API documentation for all the registry functions?

[2018-12-13 13:40] musigma-admin commented on #7
In GitLab by @Naren.Srinivasan on Sep 20, 2018, 15:24

removed milestone

[2018-12-13 13:40] musigma-admin commented on #7
In GitLab by @Naren.Srinivasan on Nov 6, 2018, 18:42

closed

[2018-12-13 13:40] musigma-admin commented on #7
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:51

mentioned in commit 8d28dc7d5d27fa3059ef20d732e6f2bea9d1f8f5

[2018-12-13 13:40] musigma-admin commented on #7
In GitLab by @Naren.Srinivasan on Nov 9, 2018, 16:04

mentioned in commit c9924ca889e0af329f6adb0a5508575fe3bc2625

[2018-12-13 13:40] musigma-admin commented on #7
In GitLab by @Naren.Srinivasan on Nov 13, 2018, 21:01

mentioned in commit 81f499b064f9e8b646fed64986a3ae6f6f3ce8fd

[2018-12-13 13:40] musigma-admin commented on #7
In GitLab by @Naren.Srinivasan on Nov 13, 2018, 21:01

mentioned in commit 622175744a4438b527a350b301d1f2d30c1f6fc2

[2018-12-13 13:40] musigma-admin opened #8 "Load recipe issue - Load recipe along with user defined functions"
In GitLab by @Naren.Srinivasan on Jul 31, 2018, 12:52

Resolve issues with load recipe and add the ability to source the user defined function definition in the recipe rds.

[2018-12-13 13:40] musigma-admin commented on #8
In GitLab by @Naren.Srinivasan on Sep 3, 2018, 15:35

assigned to @Naren.Srinivasan and unassigned @Neeratyoy.Mallik

[2018-12-13 13:40] musigma-admin commented on #8
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:25

mentioned in commit bf2ca1004edb022b1ab4bb153eddd6c4cda6a2fc

[2018-12-13 13:40] musigma-admin commented on #8
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:25

closed

[2018-12-13 13:41] musigma-admin opened #9 "Add a wrapper function for spark-submit directly from R"
In GitLab by @Naren.Srinivasan on Aug 30, 2018, 14:55

User should be easily able to import a recipe created from the 'recipes' package as a user defined function/ operation

[2018-12-13 13:41] musigma-admin commented on #9
In GitLab by @Naren.Srinivasan on Sep 3, 2018, 15:28

assigned to @Anoop.S

[2018-12-13 13:41] musigma-admin commented on #9
In GitLab by @Naren.Srinivasan on Sep 20, 2018, 14:55

removed milestone

[2018-12-13 13:41] musigma-admin commented on #9
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:44

closed

[2018-12-13 13:43] musigma-admin opened #10 "Resolve vignette issues"
In GitLab by @Naren.Srinivasan on Aug 30, 2018, 14:56

- How should the vignette for spark be created, as it requires a spark instance?
- Detailed descriptions in the spark vignette
- More detailed writing in the data frames vignette

[2018-12-13 13:43] musigma-admin commented on #10
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 13:14

assigned to @Naren.Srinivasan

[2018-12-13 13:43] musigma-admin commented on #10
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 14:24

changed title from **Resolve vignette issues{- for Spark-}** to **Resolve vignette issues**

[2018-12-13 13:43] musigma-admin commented on #10
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 14:24

changed the description

[2018-12-13 13:43] musigma-admin commented on #10
In GitLab by @Naren.Srinivasan on Nov 9, 2018, 18:05

mentioned in commit 94db3805ba130472dfd3ec1cc984802cd25e884f

[2018-12-13 13:43] musigma-admin commented on #10
In GitLab by @Naren.Srinivasan on Nov 13, 2018, 21:01

mentioned in commit e9fb8a58675c425325f81854e26ebf206304cb98

[2018-12-13 13:43] musigma-admin commented on #10
In GitLab by @Naren.Srinivasan on Nov 13, 2018, 21:01

mentioned in commit 622175744a4438b527a350b301d1f2d30c1f6fc2

[2018-12-13 13:43] musigma-admin commented on #10
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 18:54

mentioned in commit 91892fe519556f2487c19e9d3334c5c1e10894bd

[2018-12-13 13:43] musigma-admin commented on #10
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:44

closed

[2018-12-13 13:46] musigma-admin opened #11 "Port functions from classification, and include an example in vignette"
In GitLab by @Naren.Srinivasan on Aug 30, 2018, 14:57

[2018-12-13 13:46] musigma-admin commented on #11
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:34

assigned to @Naren.Srinivasan

[2018-12-13 13:46] musigma-admin commented on #11
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:34

assigned to @Vedavyas.C and unassigned @Naren.Srinivasan

[2018-12-13 13:46] musigma-admin commented on #11
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:35

@Vedavyas.C - Can you take a look at this issue, and see what functions can be added. Define a scope across a few bricks and add the functions.

Want some basic functionality across bricks added. Scope it to what can be done in 2 weeks.

[2018-12-13 13:46] musigma-admin commented on #11
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:53

At this point, for the initial release, classification functions will be added.

[2018-12-13 13:46] musigma-admin commented on #11
In GitLab by @Naren.Srinivasan on Nov 9, 2018, 18:07

changed title from **Port {-more functions from eda, segmentation, etc.-}** to **Port {+functions from classification, and include an example in vignette+}**

[2018-12-13 13:46] musigma-admin commented on #11
In GitLab by @Naren.Srinivasan on Dec 3, 2018, 13:51

removed milestone

[2018-12-13 13:46] musigma-admin opened #12 "Spark - Add wrappers for streaming vs. batch"
In GitLab by @Naren.Srinivasan on Aug 30, 2018, 14:58

awaitTermination parameter, etc.

[2018-12-13 13:46] musigma-admin commented on #12
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 15:32

removed milestone

[2018-12-13 13:46] musigma-admin commented on #12
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 15:32

added ~61 label

[2018-12-13 13:46] musigma-admin commented on #12
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:44

closed

[2018-12-13 13:47] musigma-admin opened #13 "Name for the package"
In GitLab by @Naren.Srinivasan on Aug 30, 2018, 14:59

* Decide on the name
* Update all function names, classes and documentation to reflect the same.

[2018-12-13 13:47] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:32

assigned to @Anoop.S

[2018-12-13 13:47] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:32

assigned to @Abhilash.J2 and unassigned @Anoop.S

[2018-12-13 13:47] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:32

unassigned @Abhilash.J2

[2018-12-13 13:47] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 12:37

@Vedavyas.C , @Abhilash.J2 , @Anoop.S - Would like your thoughts on this. Want a name which represents the objectives of the package but is different from "recipes" as there is a package of the same name by hadley.

[2018-12-13 13:47] musigma-admin commented on #13
In GitLab by @Neeratyoy.Mallik on Aug 31, 2018, 14:25

"edaTree": EDA is included since it is about EDA. Tree, from a data structure POV, since it gives the notion of a flow of sorts

[2018-12-13 13:47] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 14:51

@Neeratyoy.Mallik - I want the package to be more than eda. Looking to add other brick functions as well. We also have support for spark jobs/ structured streaming now.

[2018-12-13 13:48] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 14:55

The main objectives of the package are:

- Create recipes/ flows/ pipelines which are reusable and can be put into production. Allow for repeated calling of these pipelines, in a batch context, or continuous processing in a streaming context

Couple of other names I thought of:

* "composer" - As analysts compose these analyses. The last "r" a

[2018-12-13 13:48] musigma-admin commented on #13
In GitLab by @Abhilash.J2 on Aug 31, 2018, 16:08

pipelineR seems good. Consistent with python sklearn's pipeline module.

Some other convoluted ones could be with the 'rx' -- flowRx , dataRx ? muRx !(:))

or rxCreator

[2018-12-13 13:48] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Sep 3, 2018, 12:18

Haha, don't want the name linked with rX.

So I'm thinking pipeliner or pipelineR with the classes called 'AnalysisPipeline' and 'SparkAnalysisPipeline'

Am thinking if we can use pipeline-related verbs for the methods - Like 'plumb', or so on.

[2018-12-13 13:48] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Sep 3, 2018, 12:19

Just discovered that there is already a package of that name, which is extremely similar to the 'recipes' package.

Thinking 'analysisPipelines' instead.

[2018-12-13 13:48] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Sep 3, 2018, 15:26

changed the description

[2018-12-13 13:48] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Sep 3, 2018, 15:35

assigned to @Naren.Srinivasan

[2018-12-13 13:48] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:30

@Anoop.S @Abhilash.J2 @Vedavyas.C  - Any other thoughts?

Thinking of finalizing 'analysisPipelines'

[2018-12-13 13:48] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Sep 6, 2018, 13:02

@Anoop.S @Abhilash.J2 @Vedavyas.C -  Finalizing

as the working name for now.

[2018-12-13 13:48] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Sep 6, 2018, 14:13

This has been changed in function names, documentation, vignettes, RStudio project name. etc.

Also, the git project has been renamed.

Will need to perform a new checkout by:

`git clone git@mugitlab.mu-sigma.com:eoc_foundation_wip/analysis-pipelines.git`

[2018-12-13 13:48] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Sep 6, 2018, 14:13

closed

[2018-12-13 13:48] musigma-admin commented on #13
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:07

reopened

[2018-12-13 13:48] musigma-admin commented on #13
In GitLab by @Zubin.Dowlaty on Sep 12, 2018, 00:59

how about "chain link" or "chain linker"

[2018-12-13 13:48] musigma-admin opened #14 "Export a pipeline to a BPMN flow"
In GitLab by @Naren.Srinivasan on Aug 31, 2018, 15:02

Should be able to import the flow in BPMN orchestration tools, and deploy through them.

[2018-12-13 13:48] musigma-admin commented on #14
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:54

removed milestone

[2018-12-13 13:48] musigma-admin opened #15 "Final documentation review before CRAN release"
In GitLab by @Naren.Srinivasan on Sep 3, 2018, 15:21

* Add examples and authors for all functions

[2018-12-13 13:48] musigma-admin commented on #15
In GitLab by @Naren.Srinivasan on Nov 9, 2018, 18:08

changed title from **{-Add examples for all functions-}** to **{+Final documentation review before CRAN release+}**

[2018-12-13 13:48] musigma-admin commented on #15
In GitLab by @Naren.Srinivasan on Nov 9, 2018, 18:08

changed the description

[2018-12-13 13:48] musigma-admin commented on #15
In GitLab by @Naren.Srinivasan on Nov 26, 2018, 20:34

mentioned in commit 42bdf8449b8c8df100bbe9724ed0b485ec5af1e2

[2018-12-13 13:48] musigma-admin commented on #15
In GitLab by @Naren.Srinivasan on Nov 27, 2018, 20:24

mentioned in commit 8b3812e133cead55cf02213dbfa45bc05a63b45c

[2018-12-13 13:48] musigma-admin opened #16 "Problems with loading "analysisRecipes" package before the sparkR read stream"
In GitLab by @Anoop.S on Sep 3, 2018, 18:02

On running spark-submit command in a scenario where the library is loaded before the read.stream() function, the following error is thrown:

[code]

Note that this problem exists only in spark-submit and not when run from RStudio

[2018-12-13 13:48] musigma-admin commented on #16
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:23

added ~59 label

[2018-12-13 13:48] musigma-admin commented on #16
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:23

assigned to @Naren.Srinivasan

[2018-12-13 13:48] musigma-admin commented on #16
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:13

closed

[2018-12-13 13:49] musigma-admin opened #17 "Add support for Analysis Pipelines containing both R and SparkR batch functions"
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:26

Should be able to create pipelines which are a combination of R and SparkR [excluding streaming]

`spark_pipleline_obj %>>% sparkr_func1 %>>% sparkr_func2 %>>% r_func1`

[2018-12-13 13:49] musigma-admin commented on #17
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 15:24

This requires an architectural change. The current AnalysisPipeline class contains a slot for input, and another for working input. The following architectural change should also be designed to support implementation of Issue #18 [to add python functions].

The following issue is scoped to allowing for interoperable pipelines between R, Spark a

[2018-12-13 13:49] musigma-admin commented on #17
In GitLab by @Naren.Srinivasan on Sep 10, 2018, 12:51

Design 1:

Define another S4 class for an AnalysisPipelineDataset, which contains slot for all compatible implementations for data frames in different engines - R, Spark, Python. However, this is problematic as would create as many copies of the dataset as engines, leading to memory issues.

Design 2:

Preface every function call in the recipe

[2018-12-13 13:49] musigma-admin commented on #17
In GitLab by @Naren.Srinivasan on Sep 10, 2018, 13:38

Add the following functions:

* assessEngineSetUp - Before executing the recipe, check engine configurations and throw exceptions as required
* defineEngineConfig - Function to which engine configurations, be it Spark/Python can be passed

[2018-12-13 13:49] musigma-admin commented on #17
In GitLab by @Naren.Srinivasan on Sep 10, 2018, 17:59

mentioned in commit a1d8e7ea59a395bbd82818e3c9ce7be90ddaa77e

[2018-12-13 13:49] musigma-admin commented on #17
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 14:02

mentioned in commit bf9b129040727075c55a934b2b3387cb55a760be

[2018-12-13 13:49] musigma-admin commented on #17
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 14:02

mentioned in commit 89bbfa06843fb0fc33586cdda99aa61788a93814

[2018-12-13 13:49] musigma-admin commented on #17
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 14:10

mentioned in commit 961226dcf3907ff0634a446410cf0e07284116e3

[2018-12-13 13:49] musigma-admin commented on #17
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 14:54

mentioned in commit fbe851620fda9b63ebea4b7ec652fef6c6ff0baa

[2018-12-13 13:49] musigma-admin commented on #17
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 14:54

closed

[2018-12-13 13:49] musigma-admin opened #18 "Ability to define python functions in Analysis Pipelines"
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 12:27

Should be interoperable i.e. combination of R, Spark and Python functions in the same pipeline.

[2018-12-13 13:49] musigma-admin commented on #18
In GitLab by @Naren.Srinivasan on Sep 5, 2018, 15:29

This is related to Issue #17. Architectural changes performed there will enable this issue to be implemented.

[2018-12-13 13:49] musigma-admin commented on #18
In GitLab by @Naren.Srinivasan on Nov 27, 2018, 20:24

mentioned in commit f01693b8d03046d8a7d83bf49c4f14ceb7ff89b0

[2018-12-13 13:49] musigma-admin commented on #18
In GitLab by @Naren.Srinivasan on Nov 28, 2018, 15:10

mentioned in commit af0a7945d51f303a959dba193b5090867a980ce4

[2018-12-13 13:49] musigma-admin commented on #18
In GitLab by @Naren.Srinivasan on Nov 29, 2018, 17:11

mentioned in commit 2e31cdc05b994bc145a86e2b03c7bc7970640454

[2018-12-13 13:49] musigma-admin commented on #18
In GitLab by @Naren.Srinivasan on Nov 29, 2018, 17:11

closed

[2018-12-13 13:49] musigma-admin opened #19 "Add exception handling mechanisms"
In GitLab by @Naren.Srinivasan on Sep 6, 2018, 13:00

# Recipe level exception handling

* schema change in the dataset
* function not available in the environment
* required packages not available

# Utility functions exception handling

Provide a mechanism for users to define exception handling functions for specific functions while registering them

[2018-12-13 13:49] musigma-admin commented on #19
In GitLab by @Naren.Srinivasan on Sep 14, 2018, 17:50

mentioned in commit 75192c55c5f8ff264068cdc67b0aacf73ed16389

[2018-12-13 13:51] musigma-admin opened #20 "Show the parameters for all registry functions in the registry table"
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:01

[2018-12-13 13:51] musigma-admin commented on #20
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:52

removed milestone

[2018-12-13 13:52] musigma-admin opened #21 "Have mechanisms to evaluate process times for each step"
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:02

Provide a process report

[2018-12-13 13:52] musigma-admin commented on #21
In GitLab by @Naren.Srinivasan on Nov 6, 2018, 18:42

closed

[2018-12-13 13:52] musigma-admin commented on #21
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:51

mentioned in commit 8d28dc7d5d27fa3059ef20d732e6f2bea9d1f8f5

[2018-12-13 13:52] musigma-admin opened #22 "Have the ability to call a pipeline from within a pipeline"
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:02

One/ multiple steps in the pipeline are pipelines themselves

[2018-12-13 13:52] musigma-admin commented on #22
In GitLab by @Naren.Srinivasan on Sep 20, 2018, 15:19

- Might be a useful feature to initialize a pipeline with another pipeline
- Additionally, should allow the user to pipe a defined pipeline to a new one.

[2018-12-13 13:52] musigma-admin commented on #22
In GitLab by @Naren.Srinivasan on Nov 9, 2018, 18:06

removed milestone

[2018-12-13 13:52] musigma-admin commented on #22
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:44

closed

[2018-12-13 13:52] musigma-admin opened #23 "Have the ability to export the registry object"
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:03

[2018-12-13 13:52] musigma-admin commented on #23
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:26

Also, add the ability to initialize the pipeline with a specific registry object as opposed to the default.

[2018-12-13 13:52] musigma-admin commented on #23
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 20:22

mentioned in commit 8f300761c4abfc68053837b184f8de58383b3c94

[2018-12-13 13:52] musigma-admin commented on #23
In GitLab by @Naren.Srinivasan on Nov 21, 2018, 16:31

This is provided with load and save of pipeline. Also with meta-pipelines.

[2018-12-13 13:52] musigma-admin commented on #23
In GitLab by @Naren.Srinivasan on Nov 21, 2018, 16:31

closed

[2018-12-13 13:52] musigma-admin opened #24 "Have the option to store/ not store intermediate results"
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:04

Option to store only final or results of specific steps.

[2018-12-13 13:52] musigma-admin commented on #24
In GitLab by @Naren.Srinivasan on Nov 6, 2018, 18:43

closed

[2018-12-13 13:52] musigma-admin commented on #24
In GitLab by @Naren.Srinivasan on Nov 6, 2018, 18:43

This has been implemented.

[2018-12-13 13:52] musigma-admin opened #25 "Explore integration mechanism for model ops use case"
In GitLab by @Naren.Srinivasan on Sep 11, 2018, 22:15

* Integrating with model ops package and dependency management
* Mapping pipelines to specific functions like predict, retrain, etc.
* Explore design changes required to use this construct to scale effectively

[2018-12-13 14:43] musigma-admin opened #26 "Implement class inheritance for Batch and Streaming pipelines"
In GitLab by @Naren.Srinivasan on Sep 17, 2018, 14:14

Many of the attributes are common and class inheritance can be implemented.

[2018-12-13 14:43] musigma-admin commented on #26
In GitLab by @Naren.Srinivasan on Sep 20, 2018, 14:52

mentioned in commit b9093a5e46833b7c886c660a3e291d9b00b8a815

[2018-12-13 14:43] musigma-admin commented on #26
In GitLab by @Naren.Srinivasan on Sep 20, 2018, 14:52

closed

[2018-12-13 14:43] musigma-admin opened #27 "Add information about required packages being available"
In GitLab by @Naren.Srinivasan on Sep 20, 2018, 14:54

- Checks for required packages and throw exceptions
- Has details of required packages by function

[2018-12-13 14:43] musigma-admin commented on #27
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:44

closed

[2018-12-13 14:43] musigma-admin opened #28 "Make the package compatible with classification utils"
In GitLab by @Dheekshitha.PS on Oct 16, 2018, 17:15

The classification pipilining looks like
obj <- read_input(input = hoteldataTrain)%>>%
       removeLinearDependentCols(dataset,depVar="Class",positiveClass=1)%>>%
       partialLeastSquaresFS(dataset,factorLabels=c(1,0),depVar="Class")%>>%
       splitTrainValidation(dataset,TrainTestSplitPercent=70,factorLabels=c(1,0),depVar="Class")%>>%

[2018-12-13 14:44] musigma-admin commented on #28
In GitLab by @Naren.Srinivasan on Oct 22, 2018, 19:55

This can be implemented by adding a feature where, not only does the user specify if the functions takes the original input or the input from the previous step, but specify exactly the function whose output the particular parameter takes.

One of the ideas is to implement this through a neat formula construct. Something like "~ 2" where 2 deno

[2018-12-13 14:44] musigma-admin commented on #28
In GitLab by @Naren.Srinivasan on Oct 22, 2018, 19:55

assigned to @Naren.Srinivasan

[2018-12-13 14:44] musigma-admin commented on #28
In GitLab by @Naren.Srinivasan on Oct 22, 2018, 19:56

added ~61 label

[2018-12-13 14:44] musigma-admin commented on #28
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:51

mentioned in commit 8d28dc7d5d27fa3059ef20d732e6f2bea9d1f8f5

[2018-12-13 14:44] musigma-admin commented on #28
In GitLab by @Naren.Srinivasan on Nov 9, 2018, 16:04

mentioned in commit c9924ca889e0af329f6adb0a5508575fe3bc2625

[2018-12-13 14:44] musigma-admin commented on #28
In GitLab by @Naren.Srinivasan on Nov 9, 2018, 16:05

This has been implemented with the formula syntax. The vignette needs to be updated to illustrate usage.

[2018-12-13 14:44] musigma-admin commented on #28
In GitLab by @Naren.Srinivasan on Nov 9, 2018, 16:05

closed

[2018-12-13 14:44] musigma-admin commented on #28
In GitLab by @Naren.Srinivasan on Nov 13, 2018, 21:01

mentioned in commit 622175744a4438b527a350b301d1f2d30c1f6fc2

[2018-12-13 14:44] musigma-admin opened #29 "Add logging capabilities, such that errors , warnings and so on can be printed on console or written to file"
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:50

[2018-12-13 14:44] musigma-admin commented on #29
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:51

mentioned in commit 31af60e4daf5fbeea0b3ff832418868e18557602

[2018-12-13 14:44] musigma-admin commented on #29
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:51

closed

[2018-12-13 14:44] musigma-admin opened #30 "Parallel implementation if the pipeline is in R"
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:55

Have the ability to execute independent functions in parallel if they are to be run on R

[2018-12-13 14:44] musigma-admin commented on #30
In GitLab by @Naren.Srinivasan on Nov 8, 2018, 13:55

added ~61 label

[2018-12-13 14:44] musigma-admin commented on #30
In GitLab by @Naren.Srinivasan on Nov 16, 2018, 19:52

removed milestone

[2018-12-13 14:45] musigma-admin opened #31 "Have a common registry across object instances of the Analysis Pipeline classes"
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 18:50

* Implement a package environment within the package namespace
* Move the output cache to this environment

[2018-12-13 14:45] musigma-admin commented on #31
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 18:54

mentioned in commit 91892fe519556f2487c19e9d3334c5c1e10894bd

[2018-12-13 14:45] musigma-admin commented on #31
In GitLab by @Naren.Srinivasan on Nov 14, 2018, 21:43

closed

[2018-12-13 14:46] musigma-admin opened #32 "generateReport issue - Unknown or uninitialised column: engine"
In GitLab by @Naren.Srinivasan on Nov 15, 2018, 00:37

Also, lines 15-22 are error-prone, in terms of generating reports

[2018-12-13 14:46] musigma-admin commented on #32
In GitLab by @Naren.Srinivasan on Nov 15, 2018, 00:38

changed title from **generateReport issue - Unknown or uninitialised column: {-'engine'-}.** to **generateReport issue - Unknown or uninitialised column: {+&#39;engine&#39;+}.**

[2018-12-13 14:46] musigma-admin commented on #32
In GitLab by @Naren.Srinivasan on Nov 15, 2018, 00:38

changed the description

[2018-12-13 14:46] musigma-admin commented on #32
In GitLab by @Naren.Srinivasan on Nov 15, 2018, 01:23

changed title from **generateReport issue - Unknown or uninitialised column: {-&#39;engine&#39;.-}** to **generateReport issue - Unknown or uninitialised column: {+engine+}**

[2018-12-13 14:46] musigma-admin commented on #32
In GitLab by @Naren.Srinivasan on Nov 22, 2018, 16:26

This issue seems to occur when there is an exception in the output generation, which are tracked in separate issues. Hence, closing this.

[2018-12-13 14:46] musigma-admin commented on #32
In GitLab by @Naren.Srinivasan on Nov 22, 2018, 16:26

closed

[2018-12-13 14:46] musigma-admin opened #33 "Function registration - defaults not stored"
In GitLab by @Naren.Srinivasan on Nov 15, 2018, 01:25

*  When a function is registered, default values of the arguments of the original function should also be set for the new method
* Additionally, when autocomplete for all the named parameters of the function should be available for the new method, as per the original function

[2018-12-13 14:46] musigma-admin commented on #33
In GitLab by @Naren.Srinivasan on Nov 16, 2018, 19:49

closed via commit c96f671416a14ea4af804dbcff0094e1b251bf7a

[2018-12-13 14:46] musigma-admin commented on #33
In GitLab by @Naren.Srinivasan on Nov 16, 2018, 20:16

mentioned in commit c96f671416a14ea4af804dbcff0094e1b251bf7a

[2018-12-13 14:46] musigma-admin opened #34 "Registration fails when exception handling function is provided as NULL"
In GitLab by @Naren.Srinivasan on Nov 16, 2018, 19:51

Function registration throws an error when the exception handling function is explicitly provided as NULL. This error should be handled.

[2018-12-13 14:46] musigma-admin commented on #34
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:25

mentioned in commit abb6e52f7ded43512677f61cfe35c111c530634c

[2018-12-13 14:46] musigma-admin commented on #34
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:49

closed

[2018-12-13 14:46] musigma-admin opened #35 "When the a function definition is updated, on 'registerFunction', the metadata in the registry is not updated"
In GitLab by @Naren.Srinivasan on Nov 16, 2018, 19:52

The metadata in the registry needs to be updated with the new definition.

[2018-12-13 14:46] musigma-admin commented on #35
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:49

mentioned in commit f3dae956d3a35583d34bb8dd8316940af69f01f0

[2018-12-13 14:46] musigma-admin commented on #35
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:49

closed

[2018-12-13 14:47] musigma-admin opened #36 "Add a vignette with a meta-pipeline"
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 12:52

Implement meta-pipelines and add a vignette which illustrates the flow fof using meta pipelines

[2018-12-13 14:47] musigma-admin commented on #36
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 20:17

changed title from **Add a vignette with a meta-pipeline{- for classification-}** to **Add a vignette with a meta-pipeline**

[2018-12-13 14:47] musigma-admin commented on #36
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 20:17

changed the description

[2018-12-13 14:47] musigma-admin commented on #36
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 20:22

mentioned in commit 51e06134fa9ae3959cf13c5ac6a6715597d159b4

[2018-12-13 14:47] musigma-admin commented on #36
In GitLab by @Naren.Srinivasan on Nov 19, 2018, 20:22

mentioned in commit 8f300761c4abfc68053837b184f8de58383b3c94

[2018-12-13 14:47] musigma-admin commented on #36
In GitLab by @Naren.Srinivasan on Nov 21, 2018, 16:28

mentioned in commit 114af49649b0fc064127d6cc0fc97b0e0db0cf0b

[2018-12-13 14:47] musigma-admin commented on #36
In GitLab by @Naren.Srinivasan on Nov 22, 2018, 16:00

closed

[2018-12-13 14:47] musigma-admin opened #37 "Named parameters coercion issue if the parameter is a formula"
In GitLab by @Naren.Srinivasan on Nov 20, 2018, 15:15

If the parameter to the user's function is a formula, there might be coercion and storing issues with regard to the pipeline

[2018-12-13 14:47] musigma-admin commented on #37
In GitLab by @Naren.Srinivasan on Dec 3, 2018, 18:24

removed milestone

[2018-12-13 14:47] musigma-admin commented on #37
In GitLab by @Naren.Srinivasan on Dec 3, 2018, 18:24

This issue is resolved with the improved dependency parsing

[2018-12-13 14:47] musigma-admin commented on #37
In GitLab by @Naren.Srinivasan on Dec 3, 2018, 18:24

closed

[2018-12-13 14:47] musigma-admin opened #38 "Value of first argument for some data functions taking the wrong value"
In GitLab by @Naren.Srinivasan on Nov 20, 2018, 15:16

* This is probably a function scoping issue
* Check with the classification utilities.

[2018-12-13 14:47] musigma-admin commented on #38
In GitLab by @Naren.Srinivasan on Nov 21, 2018, 16:28

mentioned in commit 114af49649b0fc064127d6cc0fc97b0e0db0cf0b

[2018-12-13 14:47] musigma-admin commented on #38
In GitLab by @Naren.Srinivasan on Nov 21, 2018, 16:30

closed

[2018-12-13 14:47] musigma-admin opened #39 "In core functions, add a check for presence of SparkR, before calling SparkR functions in the batch execution code"
In GitLab by @Naren.Srinivasan on Nov 26, 2018, 15:31

Check for SparkR package before using functions from SparkR

[2018-12-13 14:47] musigma-admin commented on #39
In GitLab by @Naren.Srinivasan on Nov 29, 2018, 17:27

mentioned in commit 03b9a2569b9b1f423f0124340436e80b09a7dac8

[2018-12-13 14:47] musigma-admin commented on #39
In GitLab by @Naren.Srinivasan on Nov 29, 2018, 17:28

closed

[2018-12-13 14:47] musigma-admin opened #40 "Change the design for `isDataFunction` handling to be consistent with `outAsIn` and enable branching of pipelines"
In GitLab by @Naren.Srinivasan on Nov 28, 2018, 18:01

Consider the pipelines:

1. Data -> sparkFilterFunc -> sparkFilterFunc --
   * -- branch1 --> R plot function 1
   * -- branch2 --> Python function 1  -> Python function 2

2. Data --
   * -- branch 1 --> getFeatures for train -> getTarget for train -> model and predict for new data
   * -- branch 2 --> getFeatures for test -------------------

[2018-12-13 14:48] musigma-admin commented on #40
In GitLab by @Naren.Srinivasan on Nov 28, 2018, 18:02

changed the description

[2018-12-13 14:48] musigma-admin commented on #40
In GitLab by @Naren.Srinivasan on Nov 29, 2018, 17:11

mentioned in commit 2e31cdc05b994bc145a86e2b03c7bc7970640454

[2018-12-13 14:48] musigma-admin commented on #40
In GitLab by @Naren.Srinivasan on Nov 29, 2018, 17:11

closed

[2018-12-13 14:50] #16 closed, assigned to nobody

[2018-12-13 14:50] #17 closed, assigned to nobody

[2018-12-13 14:50] #18 closed, assigned to nobody

[2018-12-13 14:50] #19 closed, assigned to nobody

[2018-12-13 14:50] #21 closed, assigned to nobody

[2018-12-13 14:50] #22 closed, assigned to nobody

[2018-12-13 14:50] #23 closed, assigned to nobody

[2018-12-13 14:50] #24 closed, assigned to nobody

[2018-12-13 14:50] #26 closed, assigned to nobody

[2018-12-13 14:50] #27 closed, assigned to nobody

[2018-12-13 14:50] #28 closed, assigned to nobody

[2018-12-13 14:50] #29 closed, assigned to nobody

[2018-12-13 14:50] #31 closed, assigned to nobody

[2018-12-13 14:50] #32 closed, assigned to nobody

[2018-12-13 14:50] #33 closed, assigned to nobody

[2018-12-13 14:50] #34 closed, assigned to nobody

[2018-12-13 14:50] #35 closed, assigned to nobody

[2018-12-13 14:50] #36 closed, assigned to nobody

[2018-12-13 14:50] #37 closed, assigned to nobody

[2018-12-13 14:50] #38 closed, assigned to nobody

[2018-12-13 14:50] #39 closed, assigned to nobody

[2018-12-13 14:50] #40 closed, assigned to nobody

[2018-12-13 14:51] #1 closed, assigned to nobody

[2018-12-13 14:51] #2 closed, assigned to nobody

[2018-12-13 14:51] #3 closed, assigned to nobody

[2018-12-13 14:51] #5 closed, assigned to nobody

[2018-12-13 14:51] #6 closed, assigned to nobody

[2018-12-13 14:51] #7 closed, assigned to nobody

[2018-12-13 14:51] #8 closed, assigned to nobody

[2018-12-13 14:51] #9 closed, assigned to nobody

[2018-12-13 14:51] #10 closed, assigned to nobody

[2018-12-13 14:51] #12 closed, assigned to nobody

[2018-12-14 07:01] naren-srinivasan commented on #15
Documentation has been updated, including resolution of CRAN check issues. Vignettes have also been updated and minor corrections made. Closing this issue

[2018-12-14 07:01] #15 closed, assigned to nobody

[2018-12-14 07:02] naren-srinivasan commented on #13
Closing this issue - Eventual decision was to go with 'analysisPipelines'

[2018-12-14 07:02] #13 closed, assigned to nobody

[2019-02-27 20:57] husamrahman opened #49 "User-Defined Functions Not being saved"
Do I have to register user-defined functions every time I open up a new R session to use them? Or am I registering the function incorrectly? Thanks!

[2019-02-27 21:49] husamrahman opened #50 "Pipeline throws an error when trying to evaluate ":=" using dplyr"
The package throws an error if the function it is referencing contains ":=" in one of its operations.

Simply example below where df is any data frame. Running the code below in a normal R console works, however when wrapped in a function and used in the pipeline it throws an error.

Example Cod:
  df <- df %>%
    mutate(!!sym("this_is_a_test") := 1)

Error:

ERROR [2019-02-27 15:46:58] ||  EXCEP

[2019-02-28 02:28] naren1991 commented on #49
Functions once registered get saved to the registry which is active for that R Session. You can, however, save and load registries to use them across R sessions. When a registry is saved, all functions registered in that session are saved. Once a registry is loaded, all the functions in that registry now become accessible.

The functions are - `saveRegistry` & `loadRegistry`.

You can see an examp

[2019-02-28 03:00] naren1991 commented on #50
There does seem to be an issue using Non-Standard Evaluation, though it seems to relate to the `!!` operator.

However, what you are trying to accomplish can be done like so:

df <- df %>% mutate(this_is_a_test := 1)

This works within a pipeline.

The problem occurs when a dynamic column name is required which would need you to use the `!!` operator.

[2019-02-28 05:00] naren1991 commented on #49
Closing this issue.

[2019-02-28 05:00] #49 closed, assigned to nobody

[2019-02-28 13:54] husamrahman commented on #50
Thanks for the response. The function I was using lets the user define their own variable name, hence the !! operator. I can make a work around but thanks for looking into it!

[2019-02-28 15:39] husamrahman opened #51 "Have the ability to name each step in the pipeline and use that in complex pipelines"
Feature Request: Have the ability to name the steps in the pipeline and reference them in complex pipelines.

For example:

Current State: function( x = ~f1) where f1 comes from some previous function
Feature Request: function( x = ~someName) where someName would be the name of the step in the pipeline defined by the user

[2019-02-28 17:08] naren1991 commented on #51
Yes, makes sense. It was something I had considered when initially designing, but chose the 'f1' syntax for more concise writing. However, allowing the user to use the name of the function in the formula does make it more readable.

Will reconsider this choice, evaluate the impact of adding this feature and consider adding in a future release.

[2019-02-28 17:22] husamrahman commented on #51
Great! You could keep the default naming convention as "f`1" to have backwards compatibility if you do decide to make the change. Fantastic package none the less!

[2019-02-28 19:07] husamrahman opened #52 "Feature Request: Be able to pass multiple outputs from previous steps into a list to be used in a another step"
Feature Request: Have the ability to combine multiple outputs form previous steps and pass it as a list in the next.

For example: nextFunction( list( ~f1, ~f2, ~f3) where f1, f2, and f3 are outputs from previous steps.

[2019-03-01 04:00] naren1991 commented on #51
Thank you! And thank you for all your feedback!

 Keeping this issue open until then.

[2019-03-01 04:02] naren1991 commented on #52
The recommended approach in such a case would be to pass the outputs as 3 different arguments. This allows for a cleaner implementation with lesser potential for bugs/ issues. Like so:

nextFunction(arg1 = ~f1, arg2 = ~f2, arg3 = ~f3)

[2019-03-06 15:45] husamrahman opened #53 "Typo when reporting out pipeline execution timing"
When reporting out how long any step in the pipeline took or even the entire pipeline execution, I think "seconds" should actually be "minutes". Below is an example from this morning

Example:
Start =  [2019-03-06 09:17:37]
End = [2019-03-06 09:34:39]
Timing Taken: 17.0001433332761 seconds

It should be:  17.0001433332761 minutes

[2019-03-07 03:35] naren1991 commented on #52
Closing this issue.

[2019-03-07 03:35] #52 closed, assigned to nobody

[2019-03-21 20:09] husamrahman opened #55 "User-defined Function Throwing an error when registry is loaded"
I am getting this Error message (below) when initializing my pipeline. I have a series of user-defined functions in the pipeline but for some reason, it always throws an error for this one function (called "myDefinedFunction"). I registered the function exactly the same way as the others. The only way to get it working is to source the function, re-register it, then save and re-load the registery

[2019-03-22 02:31] naren1991 commented on #55
Could you share a code snippet for this pipeline?

[2019-03-22 21:43] husamrahman opened #56 "Outputs saved from pipeline saved as RDS are significantly larger than they should be"
I have an object that's created by a function. in Rstudio, the object itself is around 3GB. When I save it as an RDS, the size is ~800MB. When I use the same function but part of the pipeline process and extract that specific object from the output of the pipeline and save it, the RDS size becomes 5GB+. It seems like there are dependencies of some sort when saving the RDS. Do I need to do somethin

[2019-03-23 04:17] naren1991 commented on #56
This should not be the case. The object stored as output from the pipeline is exactly the same as a direct call to the function, within the R session. There might be minor differences when saving to RDS but definitely not of the order you have mentioned.

I verified the same with a simple example of a plot on iris data, using `object.size()` to check the size of the object in memory.

Could you sh

[2019-03-23 04:26] naren1991 commented on #55
I am unable to reproduce this issue. Could you let me know if you faced this one-time or repeatedly? A code snippet of the actual pipeline will also help debug further.

[2019-03-25 22:11] husamrahman commented on #56
The specific object being generated is a random forest model built using the randomforestSRC package. I tested this multiple times and can reproduce it every time. Is there potential conflicts with this package?

[2019-04-01 14:46] naren1991 commented on #56
This helps. No known conflicts, but might be a problem specific to this object. I will investigate further.

[2019-04-02 10:17] ravin2309 opened #57 "analysisPipelines for R 3.3.3"
Hi team,

We are maintaining the R repository using MRAN  and as of now we use R version 3.3.3. And while installing analysisPipelines it requests for R >=3.4.0.
Can you please help me with this issue ?

[2019-04-03 03:58] naren1991 commented on #57
It is recommended to use R 3.4.0 for this package, as it has been tested and vetted with that version of R and above. Is there a particular reason for not upgrading R?

As a stop gap solution, you can clone the repo from git, change the DESCRIPTION file to say R >= 3.3.3, and then install from local using devtools. However, please note that this package has not been extensively tested with R 3.3.3

[2020-04-19 10:00] naren1991 opened #58 "Resolve WARN issues in CRAN checks occurring due to the updated version of tibble (3.0.0 +)"
The updated version of tibble is causing issues with certain functionality in analysisPipelines, and errors in corresponding vignettes

[2020-04-19 17:03] SangeetM commented on #58
More details regarding the issues caused can be found [here](https://apc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fcran.r-project.org%2Fweb%2Fchecks%2Fcheck_summary_by_maintainer.html&data=02%7C01%7CSangeet.Das%40Mu-Sigma.Com%7C850a16f1baa942e2bcdb08d7e13c6391%7C56794af129b14e4ba44715e6df4f649b%7C0%7C0%7C637225521790351084&sdata=t4KbmJO%2BssojdImTnPMcV3ltA%2F6TOaT5ZkXng2pAsoo%3D&reserv

[2020-04-21 18:32] naren1991 commented on #58
This issue has been fixed. It was a minor issue due to the fact that in tibble 3.0.0+, automatic type coercions for columns are not done. There was 1 instance in the code where explicit conversion to the type of the column had to be done.

[2020-04-21 18:32] #58 closed, assigned to naren1991

[2020-06-07 11:18] SangeetM opened #61 "Vignette | Rebuilding failed for some of the vignettes"
Details of the failed vignette:

- Analysis_pipelines_for_working_with_R_dataframes.Rmd
- Meta_Pipelines.Rmd
![Screenshot from 2020-06-07 16-47-23](https://user-images.githubusercontent.com/9531507/83967403-95580080-a8de-11ea-8474-4ed3cf3d28d5.png)

[2020-06-07 11:25] naren1991 commented on #61
This may be a result of a new version of another package, which was the case in the previous time. I will look into this.

[2020-06-07 13:29] SangeetM commented on #61
tried with **dplyr** 0.8.5 ... works ... received a mail from CRAN which says to fix this before 15th June to retain package in CRAN. A more detailed overview for your reference https://cran.r-project.org/web/checks/check_results_analysisPipelines.html

[2020-06-11 19:16] #61 closed, assigned to naren1991, SangeetM